@import "tailwindcss";

@theme {
  --color-success: var(--color-green-400);
  --color-success-bg: var(--color-green-200);
  --color-success-dark: var(--color-green-900);
  --color-success-darker: var(--color-green-950);
  --color-error: var(--color-red-400);
  --color-error-bg: var(--color-red-200);
  --color-error-dark: var(--color-red-900);
  --color-error-darker: var(--color-red-950);

  --drop-shadow-glow: 0 0 3px;
  --drop-shadow-dark: 0 0 6px rgb(0 0 0);

  --opacity-dim: 50%;
}
