@import "tailwindcss";

@theme {
  --color-success: var(--color-green-400);
  --color-error: var(--color-red-400);

  --drop-shadow-glow: 0 0 3px;
  --drop-shadow-dark: 0 0 6px rgb(0 0 0);

  --opacity-dim: 50%;
}
